Repository FireDemon290304/P2-2025-Client-Server-Code, changes with the labels that .github/labeler.yml gives for each.
All labels: Node Changes, Public Resources

.github/labeler.yml:

# ------------------------- Default Labels -------------------------
# Add Node Changes Label (except in PubRes)
Node Changes:
- changed-files:
  - any-glob-to-any-file: 'node/**/*'

# Add Public Resource label to PR which changes things in those folders
Public Resources:
- changed-files:
  - any-glob-to-any-file: 'public/**/*'

# ------------------------- Code Changes -------------------------
# Add app, router, server label (excluding modules)
App Changes:
- changed-files:
  - any-glob-to-any-file: 'node/**/*'
  - not-in-folder: 'node/modules/**/*'

# Add Module Changes Label
Module Changes:
- changed-files:
  - in-folder: 'node/modules/**/*'

# ------------------------- Custom Labels -------------------------
# Add Workflow Changes Label
Workflow Changes:
- changed-files:
  - '.github/workflows/**/*.yml'

# Configuration Changes Label
Configuration Changes:
- changed-files:
  - 'eslint.config.mjs'
  - 'package.json'
  - '.gitignore'

# Add Documentation Changes Label
Documentation Changes:
- changed-files:
  - 'README.md'
  - 'LICENSE'

made workspace
  Business-management.code-workspace
  public/html/index.html
  public/test.txt
Labels: Public Resources

kind of works
  node/router.js
  node/server.js
  node/utils.js
  package.json
  public/favicon.ico
Labels: Node Changes, Public Resources

more errors yay
  .gitignore
  access.log
  node/router.js
  node/server.js
  temp.txt
Labels: Node Changes

progress
  node/server.js
Labels: Node Changes

shit works now
  access.log
  node/server.js
Labels: Node Changes

made log better formatted
  access.log
  node/utils.js
Labels: Node Changes

formatting
  access.log
  node/router.js
  node/server.js
  node/utils.js
  package-lock.json
  package.json
Labels: Node Changes

minor changes
  node/server.js
Labels: Node Changes

Added Flow-Charts.drawio
  Flow-Charts.drawio
Labels: none
